volumes:
  pg_dev_data:
  redis_dev_data:
  backend_venv:

services:
  nginx:
    build:
      context: ./nginx
      dockerfile: ./Dockerfile
    container_name: nginx
    ports:
      - "80:80"
    depends_on:
      - backend

  backend:
    build: ./backend
    container_name: backend
    env_file: ./backend/.env
    depends_on:
      - postgres
      - redis
    volumes:
      - backend_venv:/app/.venv

  postgres:
    image: postgis/postgis:18-3.6
    container_name: postgres
    env_file: ./backend/.env
    volumes:
      - pg_dev_data:/var/lib/postgresql

  redis:
    image: redis:7
    container_name: redis
    volumes:
      - redis_dev_data:/data
